<a href="https://colab.research.google.com/github/DonghaeSuh/NLP_Pytorch/blob/main/Model/Quora_Question_Pairs_CNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 전처리

## 라벨 데이터 불균형 처리

In [1]:
import pandas as pd

In [ ]:
ls

drive/  sample_data/

In [ ]:
cd drive/MyDrive/Pytorch\ NLP/data_in/Quora_Question_Pairs

/content/drive/MyDrive/Pytorch NLP/data_in/Quora_Question_Pairs

In [ ]:
ls

sample_submission.csv      test.csv      train.csv
sample_submission.csv.zip  test.csv.zip  train.csv.zip

In [ ]:
train_data=pd.read_csv('train.csv',encoding='UTF-8')
test_data=pd.read_csv('test.csv',encoding='UTF-8')

In [ ]:
train_pos_data=train_data.loc[train_data['is_duplicate']==1]
train_neg_data=train_data.loc[train_data['is_duplicate']==0]
print("이전 pos 개수 : {}, 이전 neg 개수 : {}".format(len(train_pos_data),len(train_neg_data)))
train_neg_data=train_neg_data.sample(n=len(train_pos_data))
print("pos 개수 : {}, neg 개수 : {}".format(len(train_pos_data),len(train_neg_data)))

이전 pos 개수 : 149263, 이전 neg 개수 : 255027
pos 개수 : 149263, neg 개수 : 149263

In [ ]:
train_data=pd.concat([train_neg_data,train_pos_data])

## 물음표나 마침표와 같은 구두점 및 기호 제거 & 모든 문자를 소문자로 변환

In [ ]:
train_data['question1']=train_data['question1'].str.replace('[^a-zA-Z ]',"")
train_data['question2']=train_data['question2'].str.replace('[^a-zA-Z ]',"")

<ipython-input-34-43c5bf3fba56>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  train_data['question1']=train_data['question1'].str.replace('[^a-zA-Z ]',"")
<ipython-input-34-43c5bf3fba56>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  train_data['question2']=train_data['question2'].str.replace('[^a-zA-Z ]',"")

In [ ]:
train_data.head()

,id,qid1,qid2,question1,question2,is_duplicate
26394,26394,49129,49130,How is Newtons method used in the Engineering ...,What is the use of limits in real life,0
6629,6629,12978,12979,How do I find the best contract manufacturers ...,How do I lease machinary of herbal cosmetic ma...,0
327066,327066,178390,264290,What are some adjectives to describe history,What are adjectives to describe earth,0
360754,360754,490555,490556,How do I find the right mentor,Why is it so hard to find the right mentor,0
133926,133926,214166,214167,Was om the very first meaningful word uttered ...,Need legal advice Indian parents son harrasing...,0

In [ ]:
train_data['question1']=train_data['question1'].str.lower()
train_data['question2']=train_data['question2'].str.lower()

In [ ]:
train_data.head()

,id,qid1,qid2,question1,question2,is_duplicate
26394,26394,49129,49130,how is newtons method used in the engineering ...,what is the use of limits in real life,0
6629,6629,12978,12979,how do i find the best contract manufacturers ...,how do i lease machinary of herbal cosmetic ma...,0
327066,327066,178390,264290,what are some adjectives to describe history,what are adjectives to describe earth,0
360754,360754,490555,490556,how do i find the right mentor,why is it so hard to find the right mentor,0
133926,133926,214166,214167,was om the very first meaningful word uttered ...,need legal advice indian parents son harrasing...,0

In [ ]:
import numpy as np

In [ ]:
train_data=train_data.drop(['id','qid1','qid2'],axis=1)
train_data.head()

,question1,question2,is_duplicate
26394,how is newtons method used in the engineering ...,what is the use of limits in real life,0
6629,how do i find the best contract manufacturers ...,how do i lease machinary of herbal cosmetic ma...,0
327066,what are some adjectives to describe history,what are adjectives to describe earth,0
360754,how do i find the right mentor,why is it so hard to find the right mentor,0
133926,was om the very first meaningful word uttered ...,need legal advice indian parents son harrasing...,0

In [ ]:
train_data.to_csv('fine_train_data.csv')

## 테스트 데이터 전처리

In [ ]:
test_data['question1']=test_data['question1'].str.replace('[^a-zA-Z ]',"")
test_data['question2']=test_data['question2'].str.replace('[^a-zA-Z ]',"")

<ipython-input-40-32bc53f0a960>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  test_data['question1']=test_data['question1'].str.replace('[^a-zA-Z ]',"")
<ipython-input-40-32bc53f0a960>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  test_data['question2']=test_data['question2'].str.replace('[^a-zA-Z ]',"")

In [ ]:
test_data.head()

,test_id,question1,question2
0,0,how does the surface pro himself compare with...,why did microsoft choose core m and not core i...
1,1,should i have a hair transplant at age how mu...,how much cost does hair transplant require
2,2,what but is the best way to send money from ch...,what you send money to china
3,3,which food not emulsifiers,what foods fibre
4,4,how aberystwyth start reading,how their can i start reading

In [ ]:
test_data=test_data.drop(['test_id'],axis=1)
test_data.head()

,question1,question2
0,how does the surface pro himself compare with...,why did microsoft choose core m and not core i...
1,should i have a hair transplant at age how mu...,how much cost does hair transplant require
2,what but is the best way to send money from ch...,what you send money to china
3,which food not emulsifiers,what foods fibre
4,how aberystwyth start reading,how their can i start reading

In [ ]:
test_data.to_csv('fine_test_data.csv')

# 데이터 마련

In [2]:
ls

drive/  sample_data/

In [3]:
cd drive/MyDrive/Pytorch\ NLP/data_in/Quora_Question_Pairs

/content/drive/MyDrive/Pytorch NLP/data_in/Quora_Question_Pairs

In [4]:
ls

fine_test_data.csv   sample_submission.csv      test.csv      train.csv
fine_train_data.csv  sample_submission.csv.zip  test.csv.zip  train.csv.zip

In [5]:
pip install torchtext==0.6

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting torchtext==0.6
  Downloading torchtext-0.6.0-py3-none-any.whl (64 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.2/64.2 kB 2.9 MB/s eta 0:00:00
Collecting sentencepiece
  Downloading sentencepiece-0.1.99-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 23.9 MB/s eta 0:00:00
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from torchtext==0.6) (1.16.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from torchtext==0.6) (2.27.1)
Requirement already satisfied: torch in /usr/local/lib/python3.10/dist-packages (from torchtext==0.6) (2.0.0+cu118)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from torchtext==0.6) (4.65.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from torchtext==0.6) (1.22.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->torchtext==0.6) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->torchtext==0.6) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->torchtext==0.6) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->torchtext==0.6) (3.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from torch->torchtext==0.6) (4.5.0)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch->torchtext==0.6) (2.0.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch->torchtext==0.6) (3.12.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch->torchtext==0.6) (3.1.2)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch->torchtext==0.6) (3.1)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch->torchtext==0.6) (1.11.1)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch->torchtext==0.6) (3.25.2)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch->torchtext==0.6) (16.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch->torchtext==0.6) (2.1.2)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch->torchtext==0.6) (1.3.0)
Installing collected packages: sentencepiece, torchtext
  Attempting uninstall: torchtext
    Found existing installation: torchtext 0.15.1
    Uninstalling torchtext-0.15.1:
      Successfully uninstalled torchtext-0.15.1
Successfully installed sentencepiece-0.1.99 torchtext-0.6.0

### 모듈 불러오기 및 hyperparameter 정의

In [6]:
import torch
import torch.nn as nn
from torchtext import data
import pandas as pd
import random

In [7]:
SEED=123
random.seed(SEED)
torch.manual_seed(SEED)

BATCH_SIZE=1024
EPOCH=100
MAX_LEN=31
lr=1e-3

word_emb_dim=100
conv_num_filters=300
conv_window_size=3
max_pool_seq_len=MAX_LEN
sent_emb_dim=128
dropout_p=0.2
hidden_dim=200
n_class=1

device='cuda' if torch.cuda.is_available() else 'cpu'

### dataset 만들기

In [10]:
# tokenizer는 영어기 때문에 str.split()으로 사용
# Feild 정의
# 데이터가 q1, q2, is_duplicate 형태이므로 3개의 Feild를 정의하고 모두 사용한다.
# 생각해보니 lower를 해줄 필요가 없었다. (lower=True 하면 되기 때문 -> 다음에는 전처리에 str.lower()를 포함시키지 말자)

TEXT1 = data.Field(sequential=True,
                   use_vocab=True,
                   fix_length=MAX_LEN,
                   batch_first=True,
                   tokenize=str.split)
TEXT2 = data.Field(sequential=True,
                   use_vocab=True,
                   fix_length=MAX_LEN,
                   batch_first=True,
                   tokenize=str.split)
LABEL = data.Field(sequential=False,
                   use_vocab=False,
                   batch_first=True,
                   is_target=True)