<a href="https://colab.research.google.com/github/DonghaeSuh/NLP_Pytorch/blob/main/Model/Quora_Question_Pairs_CNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 전처리

## 라벨 데이터 불균형 처리

In [ ]:
import pandas as pd

In [ ]:
ls

drive/  sample_data/

In [ ]:
cd drive/MyDrive/Pytorch\ NLP/data_in/Quora_Question_Pairs

/content/drive/MyDrive/Pytorch NLP/data_in/Quora_Question_Pairs

In [ ]:
ls

fine_test_data.csv   sample_submission.csv      test.csv      train.csv
fine_train_data.csv  sample_submission.csv.zip  test.csv.zip  train.csv.zip

In [ ]:
train_data=pd.read_csv('train.csv',encoding='UTF-8')
test_data=pd.read_csv('test.csv',encoding='UTF-8')

In [ ]:
train_pos_data=train_data.loc[train_data['is_duplicate']==1]
train_neg_data=train_data.loc[train_data['is_duplicate']==0]
print("이전 pos 개수 : {}, 이전 neg 개수 : {}".format(len(train_pos_data),len(train_neg_data)))
train_neg_data=train_neg_data.sample(n=len(train_pos_data))
print("pos 개수 : {}, neg 개수 : {}".format(len(train_pos_data),len(train_neg_data)))

이전 pos 개수 : 149263, 이전 neg 개수 : 255027
pos 개수 : 149263, neg 개수 : 149263

In [ ]:
train_data=pd.concat([train_neg_data,train_pos_data])

## 물음표나 마침표와 같은 구두점 및 기호 제거 & 모든 문자를 소문자로 변환

In [ ]:
train_data['question1']=train_data['question1'].str.replace('[^a-zA-Z ]',"")
train_data['question2']=train_data['question2'].str.replace('[^a-zA-Z ]',"")

<ipython-input-8-43c5bf3fba56>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  train_data['question1']=train_data['question1'].str.replace('[^a-zA-Z ]',"")
<ipython-input-8-43c5bf3fba56>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  train_data['question2']=train_data['question2'].str.replace('[^a-zA-Z ]',"")

In [ ]:
train_data.head()

,id,qid1,qid2,question1,question2,is_duplicate
32482,32482,59798,59799,How do I solve this integration math t t ma...,How do I solve this,0
351611,351611,480460,480461,How can I become a orchestra composer in the US,How can I become an orchestra composer,0
217355,217355,323684,323685,How does Beers Law AeLc work and what does it ...,Is it a bad idea for a startup to let its empl...,0
392367,392367,44195,525051,What exactly do you do for a living,What should I do for a living,0
124717,124717,201331,201332,What are exotic metals,Do metals react to other metals,0

In [ ]:
train_data['question1']=train_data['question1'].str.lower()
train_data['question2']=train_data['question2'].str.lower()

In [ ]:
train_data.head()

,id,qid1,qid2,question1,question2,is_duplicate
32482,32482,59798,59799,how do i solve this integration math t t ma...,how do i solve this,0
351611,351611,480460,480461,how can i become a orchestra composer in the us,how can i become an orchestra composer,0
217355,217355,323684,323685,how does beers law aelc work and what does it ...,is it a bad idea for a startup to let its empl...,0
392367,392367,44195,525051,what exactly do you do for a living,what should i do for a living,0
124717,124717,201331,201332,what are exotic metals,do metals react to other metals,0

In [ ]:
import numpy as np

In [ ]:
train_data=train_data.drop(['id','qid1','qid2'],axis=1)
train_data.head()

,question1,question2,is_duplicate
32482,how do i solve this integration math t t ma...,how do i solve this,0
351611,how can i become a orchestra composer in the us,how can i become an orchestra composer,0
217355,how does beers law aelc work and what does it ...,is it a bad idea for a startup to let its empl...,0
392367,what exactly do you do for a living,what should i do for a living,0
124717,what are exotic metals,do metals react to other metals,0

In [ ]:
train_data.to_csv('fine_train_data.csv',index=False)

## 테스트 데이터 전처리

In [ ]:
test_data['question1']=test_data['question1'].str.replace('[^a-zA-Z ]',"")
test_data['question2']=test_data['question2'].str.replace('[^a-zA-Z ]',"")

<ipython-input-15-32bc53f0a960>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  test_data['question1']=test_data['question1'].str.replace('[^a-zA-Z ]',"")
<ipython-input-15-32bc53f0a960>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  test_data['question2']=test_data['question2'].str.replace('[^a-zA-Z ]',"")

In [ ]:
test_data.head()

,test_id,question1,question2
0,0,How does the Surface Pro himself compare with...,Why did Microsoft choose core m and not core i...
1,1,Should I have a hair transplant at age How mu...,How much cost does hair transplant require
2,2,What but is the best way to send money from Ch...,What you send money to China
3,3,Which food not emulsifiers,What foods fibre
4,4,How aberystwyth start reading,How their can I start reading

In [ ]:
test_data=test_data.drop(['test_id'],axis=1)
test_data.head()

,question1,question2
0,How does the Surface Pro himself compare with...,Why did Microsoft choose core m and not core i...
1,Should I have a hair transplant at age How mu...,How much cost does hair transplant require
2,What but is the best way to send money from Ch...,What you send money to China
3,Which food not emulsifiers,What foods fibre
4,How aberystwyth start reading,How their can I start reading

In [ ]:
test_data.to_csv('fine_test_data.csv',index=False)

# 데이터 마련

In [1]:
ls

drive/  sample_data/

In [2]:
cd drive/MyDrive/Pytorch\ NLP/data_in/Quora_Question_Pairs

/content/drive/MyDrive/Pytorch NLP/data_in/Quora_Question_Pairs

In [3]:
ls

best_weight/         sample_submission.csv      test.csv.zip
fine_test_data.csv   sample_submission.csv.zip  train.csv
fine_train_data.csv  test.csv                   train.csv.zip

In [4]:
pip install torchtext==0.6

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting torchtext==0.6
  Downloading torchtext-0.6.0-py3-none-any.whl (64 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.2/64.2 kB 5.0 MB/s eta 0:00:00
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from torchtext==0.6) (4.65.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from torchtext==0.6) (2.27.1)
Requirement already satisfied: torch in /usr/local/lib/python3.10/dist-packages (from torchtext==0.6) (2.0.0+cu118)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from torchtext==0.6) (1.22.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from torchtext==0.6) (1.16.0)
Collecting sentencepiece (from torchtext==0.6)
  Downloading sentencepiece-0.1.99-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 59.0 MB/s eta 0:00:00
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->torchtext==0.6) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->torchtext==0.6) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->torchtext==0.6) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->torchtext==0.6) (3.4)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch->torchtext==0.6) (3.12.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from torch->torchtext==0.6) (4.5.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch->torchtext==0.6) (1.11.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch->torchtext==0.6) (3.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch->torchtext==0.6) (3.1.2)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch->torchtext==0.6) (2.0.0)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch->torchtext==0.6) (3.25.2)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch->torchtext==0.6) (16.0.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch->torchtext==0.6) (2.1.2)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch->torchtext==0.6) (1.3.0)
Installing collected packages: sentencepiece, torchtext
  Attempting uninstall: torchtext
    Found existing installation: torchtext 0.15.1
    Uninstalling torchtext-0.15.1:
      Successfully uninstalled torchtext-0.15.1
Successfully installed sentencepiece-0.1.99 torchtext-0.6.0

### 모듈 불러오기 및 hyperparameter 정의

In [5]:
import torch
import torch.nn as nn
from torchtext import data
import pandas as pd
import random

In [6]:
SEED=123
random.seed(SEED)
torch.manual_seed(SEED)

BATCH_SIZE=1024
EPOCH=100
MAX_LEN=31
lr=1e-3

emb_dim=100
kernel_filters=300
kernel_size=3
dropout_p=0.2
hidden_dim=200
n_class=1

device='cuda' if torch.cuda.is_available() else 'cpu'

### dataset 만들기

In [7]:
# tokenizer는 영어기 때문에 str.split()으로 사용
# Feild 정의
# 데이터가 q1, q2, is_duplicate 형태이므로 3개의 Feild를 정의하고 모두 사용한다.
# 생각해보니 lower를 해줄 필요가 없었다. (lower=True 하면 되기 때문 -> 다음에는 전처리에 str.lower()를 포함시키지 말자)

TEXT1 = data.Field(sequential=True,
                   use_vocab=True,
                   fix_length=MAX_LEN,
                   batch_first=True,
                   tokenize=str.split)
TEXT2 = data.Field(sequential=True,
                   use_vocab=True,
                   fix_length=MAX_LEN,
                   batch_first=True,
                   tokenize=str.split)
LABEL = data.Field(sequential=False,
                   use_vocab=False,
                   batch_first=True,
                   is_target=True)

In [8]:
from torchtext.data import TabularDataset

In [9]:
train_dataset,test_dataset=TabularDataset.splits(path='.',train='fine_train_data.csv',test='fine_test_data.csv',fields=[('text1',TEXT1),('text2',TEXT2),('label',LABEL)],format='csv',skip_header=True)

In [10]:
train_set,val_set=train_dataset.split(split_ratio=0.8,stratified=True,strata_field='label',random_state=random.seed(SEED))

In [ ]:
vars(train_dataset[0])

{'text1': ['how',
  'do',
  'i',
  'solve',
  'this',
  'integration',
  'math',
  't',
  't',
  'math',
  'with',
  'the',
  'limit',
  'to'],
 'text2': ['how', 'do', 'i', 'solve', 'this'],
 'label': '0'}

In [ ]:
vars(test_dataset[0])

{'text1': ['How',
  'does',
  'the',
  'Surface',
  'Pro',
  'himself',
  'compare',
  'with',
  'iPad',
  'Pro'],
 'text2': ['Why',
  'did',
  'Microsoft',
  'choose',
  'core',
  'm',
  'and',
  'not',
  'core',
  'i',
  'home',
  'Surface',
  'Pro']}

In [ ]:
print(len(train_set),len(val_set))

280108 18418

## 단어 사전

In [11]:
TEXT1.build_vocab(train_dataset,min_freq=5)

In [ ]:
TEXT1.vocab.stoi

In [12]:
TEXT2.vocab=TEXT1.vocab

In [ ]:
TEXT2.vocab.stoi

In [13]:
vocab_size=len(TEXT1.vocab)

## DataLoader

In [14]:
from torchtext.data import Iterator

In [15]:
train_iter,val_iter,test_iter = Iterator.splits((train_set,val_set,test_dataset),batch_size=BATCH_SIZE,sort=False,shuffle=True)

In [88]:
print('훈련 데이터의 미니 배치의 개수 : {}'.format(len(train_iter)))
print('테스트 데이터의 미니 배치의 개수 : {}'.format(len(test_iter)))
print('검증 데이터의 미니 배치의 개수 : {}'.format(len(val_iter)))

훈련 데이터의 미니 배치의 개수 : 234
테스트 데이터의 미니 배치의 개수 : 2291
검증 데이터의 미니 배치의 개수 : 59

In [72]:
batch=next(iter(train_iter))

In [73]:
batch.text1

tensor([[   4,   20,  109,  ...,    1,    1,    1],
        [   3,   12,    2,  ...,    1,    1,    1],
        [  58,   14,    6,  ...,    1,    1,    1],
        ...,
        [  58,   10, 8027,  ...,    1,    1,    1],
        [   3,   32,    6,  ...,    1,    1,    1],
        [  58,   14,    6,  ...,    1,    1,    1]])

In [74]:
batch.label

tensor([1, 1, 1,  ..., 0, 0, 1])

In [76]:
train_iter,val_iter,test_iter = Iterator.splits((train_set,val_set,test_dataset),batch_size=BATCH_SIZE,sort=False)

# 모델 구현

In [16]:
BATCH_SIZE=1024
EPOCH=100
MAX_LEN=31
lr=1e-3

emb_dim=100
kernel_filters=300
kernel_size=3
dropout_p=0.2
hidden_dim=200
n_class=1

In [17]:
class Dense(nn.Module):
  def __init__(self,input_dim,output_dim,activation):
    super(Dense,self).__init__()
    self.dense=nn.Linear(input_dim,output_dim)
    self.activation=activation
  
  def forward(self,x):
    out = self.activation(self.dense(x))
    return out

In [18]:
class Text_CNN(nn.Module):
  def __init__(self,vocab_size,emb_dim,kernel_filters,kernel_size,dropout_p):
    super(Text_CNN,self).__init__()
    self.Embedding=nn.Embedding(vocab_size,emb_dim)
    self.Conv=nn.Conv1d(emb_dim,kernel_filters,kernel_size=3,padding='same')
    self.pool=nn.MaxPool1d(kernel_size=MAX_LEN,stride=1)
    self.dense1=Dense(300,128,nn.ReLU())
    self.dropout=nn.Dropout(dropout_p)

  def forward(self,x):
    emb=self.Embedding(x)
    self.dropout(emb)
    emb=emb.transpose(1,2)
    conv_out=self.Conv(emb)
    pool_out=self.pool(conv_out)
    sqz=torch.squeeze(pool_out,2)
    out=self.dense1(sqz)

    return out

In [19]:
class Model(nn.Module):
  def __init__(self,vocab_size,emb_dim,kernel_filters,kernel_size,hidden_dim,n_class,dropout_p):
    super(Model,self).__init__()
    self.text_CNN=Text_CNN(vocab_size,emb_dim,kernel_filters,kernel_size,dropout_p)
    self.dense1=Dense(128*2,hidden_dim,nn.ReLU())
    self.dropout=nn.Dropout(dropout_p)
    self.dense2=Dense(hidden_dim,n_class,nn.Sigmoid())

  def forward(self,x1,x2):
    out1=self.text_CNN(x1)
    out2=self.text_CNN(x2)

    concat=torch.cat([out1,out2],dim=-1)
    Fc_1=self.dense1(concat)
    self.dropout(Fc_1)
    out=self.dense2(Fc_1)
    out=out.squeeze(-1)

    return out

In [20]:
model=Model(vocab_size,emb_dim,kernel_filters,kernel_size,hidden_dim,n_class,dropout_p).to(device)
optimizer=torch.optim.Adam(model.parameters(),lr=lr)
criterion=nn.BCELoss(reduction='sum')

In [ ]:
output=model(batch.text1.to(device),batch.text2.to(device))
print(output)

In [42]:
output.size()

torch.Size([1024, 1])

In [38]:
batch.label.size()

torch.Size([1024])

In [52]:
output.squeeze(-1)

tensor([0.5087, 0.5000, 0.4994,  ..., 0.5101, 0.5198, 0.5059], device='cuda:0',
       grad_fn=<SqueezeBackward1>)

In [21]:
def train(model,optimizer,criterion,train_iter):
  model.train()

  for batch in train_iter:
    text1,text2=batch.text1.to(device),batch.text2.to(device)
    y=batch.label.to(device)

    logit=model(text1,text2)
    loss=criterion(logit.to(torch.float32),y.to(torch.float32))

    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

In [105]:
a=torch.Tensor([0.3,0.2,0.6,0.51,0.4])
b=torch.Tensor([0,1,1,1,0])
(torch.round(a)==b).sum()

tensor(4)

In [22]:
def evaluate(model,val_iter,criterion):
  model.eval()
  corrects,total_loss=0,0

  for batch in val_iter:
    text1,text2=batch.text1.to(device),batch.text2.to(device)
    y=batch.label.to(device)

    logit=model(text1,text2)
    loss=criterion(logit.to(torch.float32),y.to(torch.float32))
    total_loss+=loss
    corrects+=(torch.round(logit)==y).sum()

  size=len(val_iter.dataset)
  avg_loss=total_loss/size
  avg_accuracy=corrects/size

  return avg_loss,avg_accuracy

In [23]:
import os

In [ ]:
best_val_loss=None
val_loss_data,val_acc_data=[],[]
for e in range(1,EPOCH+1):
  train(model,optimizer,criterion,train_iter)
  val_loss,val_accuracy=evaluate(model,val_iter,criterion)
  val_loss_data.append(val_loss)
  val_acc_data.append(val_accuracy)
  print("Epoch : {} | val_loss : {:.2f} , val_accuracy : {:.2f}".format(e,val_loss,val_accuracy))

  if not best_val_loss or best_val_loss>val_loss:
    os.makedirs('best_weight',exist_ok=True)
    torch.save(model.state_dict(),'./best_weight/best_weight.pt')
    best_val_loss=val_loss

Epoch : 1 | val_loss : 0.53 , val_accuracy : 0.73

In [ ]:
import matplotlib.pyplot as plt

plt.plot(val_loss_data,label='train_loss')
plt.plot(val_acc_data,label='val_loss')
plt.legend() 
plt.show()

## 모델 성능 확인

In [1]:
model.load_state_dict(torch.load('./best_weight/best_weight.pt'))
test_loss,test_accuracy=evaluate(model,test_iter,criterion)
print("테스트 오차 : {:.2f} , 테스트 정확도 : {:.2f}".format(test_loss,test_accuracy))

NameError: ignored